In [1]:
import pandas as pd
import geopandas as gpd
import folium
import branca.colormap as cm
from folium.features import GeoJsonTooltip

In [2]:
path_csv_data = 'archive1/usa_population_2019.csv'
population_data = pd.read_csv(path_csv_data)

In [6]:
population_data.head(10)

  Geographic Area Postal Code  Total Resident Population
0   United States         NaN                  328239523
1       Northeast         NaN                   55982803
2         Midwest         NaN                   68329004
3           South         NaN                  125580448
4            West         NaN                   78347268
5         Alabama          AL                    4903185
6          Alaska          AK                     731545
7         Arizona          AZ                    7278717
8        Arkansas          AR                    3017804
9      California          CA                   39512223

In [4]:
population_json_data = 'archive1/us-states.json'
gdf = gpd.read_file(population_json_data)

In [5]:
gdf.head()

   id        name                                           geometry
0  AL     Alabama  POLYGON ((-87.35930 35.00118, -85.60667 34.984...
1  AK      Alaska  MULTIPOLYGON (((-131.60202 55.11798, -131.5691...
2  AZ     Arizona  POLYGON ((-109.04250 37.00026, -109.04798 31.3...
3  AR    Arkansas  POLYGON ((-94.47384 36.50186, -90.15254 36.496...
4  CA  California  POLYGON ((-123.23326 42.00619, -122.37885 42.0...

In [7]:
mereged_data = gdf.merge(population_data, left_on='name', right_on='Geographic Area')
mereged_data.head()

   id        name  ... Postal Code Total Resident Population
0  AL     Alabama  ...          AL                   4903185
1  AK      Alaska  ...          AK                    731545
2  AZ     Arizona  ...          AZ                   7278717
3  AR    Arkansas  ...          AR                   3017804
4  CA  California  ...          CA                  39512223

[5 rows x 6 columns]